<!--
Citation for the following code:
Date: 5/6/2025
Copied/Adapted/Based on:
Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948
-->

<h1>Customized Pokemon</h1>

<table>
    <thead>
        <tr>
            {{#each customized_pokemon.[0]}}
            <th>
                {{@key}}
            </th>
            {{/each}}
            <th></th>
        </tr>
    </thead>

    <tbody>
        {{#each customized_pokemon}}
        <tr>
            <td>{{this.customized_pokemon_id}}</td>
            <td>{{this.pokemon_name}}</td>
            <td>{{this.ability_name}}</td>
            <td>{{this.nature_name}}</td>
            <td>{{this.item_name}}</td>

            <form id='delete_customized_pokemon'>
                <input type='hidden' name='delete_customized_pokemon_id' value='{{this.customized_pokemon_id}}' />
                <input type='hidden' name='delete_customized_pokemon_details' value='{{this.pokemon_name}} {{this.ability_name}} {{this.nature_name}} {{this.item_name}}' />
                <td>
                    <button type='submit'>
                        Delete
                    </button>
                </td>
            </form>
        </tr>
        </tr>
        {{/each}}
    </tbody>
</table>

<h2>Create a Custom Pokemon</h2>
<form class='cuForm' id='create_customized_pokemon_form' method='POST' action='/customized-pokemon/create'>
    <label for='create_pokemon'>Pokemon: </label>
    <select name='create_pokemon' id='create_pokemon'>
        <option value='NULL' selected>Select a Pokemon</option>
        {{#each pokemon}}
        <option value='{{this.id}}' required>{{this.name}}</option>
        {{/each}}
    </select>
    <label for='create_pokemon_ability'>Ability: </label>
    <select name='create_pokemon_ability' id='create_pokemon_ability'>
        <option value='NULL' selected>Select an Ability</option>
        {{#each ability}}
        <option value='{{this.id}}' required>{{this.name}}</option>
        {{/each}}
    </select>
    <label for='create_pokemon_nature'>Nature: </label>
    <select name='create_pokemon_nature' id='create_pokemon_nature'>
        <option value='NULL' selected>Select a Nature</option>
        {{#each nature}}
        <option value='{{this.id}}' required>{{this.name}}</option>
        {{/each}}
    </select>
    <label for='create_pokemon_item'>Item: </label>
    <select name='create_pokemon_item' id='create_pokemon_item'>
        <option value='NULL' selected>Select an Item</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each item}}
        <option value='{{this.id}}'>{{this.name}}</option>
        {{/each}}
    </select>

    <input type='submit' />
</form>

<h2>Update a Custom Pokemon</h2>
<form class='cuForm' id='update_customized_pokemon_form'>
    <label for='update_pokemon'>Pokemon: </label>
    <select name='update_pokemon' id='update_pokemon'>
        <option value='NULL' selected>Select a Custom Pokemon</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each update_pokemon}}
        <option value='{{this.id}}' required>
            {{this.id}}
            -
            {{this.customized_pokemon_id}}
            {{this.pokemon_name}}
        </option>
        {{/each}}
    </select>
    <label for='update_pokemon_ability'>Ability: </label>
    <select name='update_pokemon_ability' id='update_pokemon_ability'>
        <option value='NULL' selected>Select an Ability</option>
        {{#each ability}}
        <option value='{{this.id}}' required>{{this.name}}</option>
        {{/each}}
    </select>
    <label for='update_pokemon_nature'>Nature: </label>
    <select name='update_pokemon_nature' id='update_pokemon_nature'>
        <option value='NULL' selected>Select a Nature</option>
        {{#each nature}}
        <option value='{{this.id}}' required>{{this.name}}</option>
        {{/each}}
    </select>
    <label for='update_pokemon_item'>Item: </label>
    <select name='update_pokemon_item' id='update_pokemon_item'>
        <option value='NULL' selected>Select an Item</option>
        <option value='NULL'>&lt; None &gt;</option>
        {{#each item}}
        <option value='{{this.id}}'>{{this.name}}</option>
        {{/each}}
    </select>

    <input type='submit' />
</form>
