<!--
Citation for the following code:
Date: 5/6/2025
Copied/Adapted/Based on:
Source URL: https://canvas.oregonstate.edu/courses/1999601/pages/exploration-web-application-technology-2?module_item_id=25352948
-->

<h1>Pokemon Abilities</h1>

<div class="scroll-table">
    <table>
        <thead>
            <tr>
                <th>Pokemon ID</th>
                <th>Name</th>
                <th>Ability 1</th>
                <th>Ability 2</th>
                <th>Ability 3</th>
            </tr>
        </thead>
        <tbody>
            {{#each pokemon_abilities}}
            <tr>
                <td>{{this.pokemon_id}}</td>
                <td>{{this.name}}</td>
                <td>{{this.abilities.[0]}}</td>
                <td>{{this.abilities.[1]}}</td>
                <td>{{this.abilities.[2]}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>